{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Admin</title>
    <link rel="stylesheet" href="{% static 'JaMoveo/SignUp.css' %}">
</head>
<body>
  <div class="signUpPage">
    <div class="formContainer">
      <h1>Sign Up</h1>
      <form id="signUpAdmin" action="{% url 'signUp' %}" method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Create User">
      </form>
        <p>Already have an account? <a href="{% url 'sign_in' %}">Login here</a>.</p>
    </div>
  </div>
</body>
</html>